  <div class="container">

<!-- /////////////////// -->

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Future</h5>

            <p class="light flow-text">We will enhance your chances for faster integration and better future in the Netherlands.</p>
          </div>
        </div>

<!-- /////////////////// -->

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">group add</i></h2>
            <h5 class="center">Opportunities</h5>

            <p class="light flow-text">We provide multiple opportunities through networking events where companies offer jobs, internships and training based on your talents and experiences. </p>
          </div>
        </div>

<!-- /////////////////// -->

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">public</i></h2>
            <h5 class="center">Understanding</h5>

            <p class="light flow-text">We understand the Syrian work experience and backgrounds professionally, and together with our Dutch partners we will create a balanced merge to place the right person in the right place. </p>
          </div>
        </div>
        
      </div>

  </div>